<%- include('../partials/header')  %>

    <ul>
        <!-- t is 'todo' could be anything, t is just the parameter for forEach -->
      <% skills.forEach(function(skill) { %>
        <li>
            <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
            - 
            <%= skill.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
    
    <a href="/skills/new">Add Skill to Learn</a>




    <%- include('../partials/footer')  %>




    